.popup__input {
    margin: 0;
    width: 100%;
    border: 0;
    outline: 0;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    padding: 0 0 13px 0;
}

.popup__input::placeholder {
    color: #000;
}

.popup__input:first-of-type {
    margin-bottom: 29px;
}