.popup-picture__button {
    background: transparent;
    background-image: url(../../../images/popup_close_icon.svg);
    position: absolute;
    right: -35px;
    top: -35px;
    border: none;
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
    cursor: pointer;
}