.profile__picture {
    object-fit: cover;
    border-radius: 50%;
    width: 127.50px;
    height: 127.50px;
    margin: 0 20.6px 0 0;
}

@media screen and (max-width: 800px) {
    .profile__picture {
        margin: 0;
    }
}

