.popup__close {
    position: absolute;
    right: -35px;
    top: -35px;
    border: none;
    margin: 0;
    padding: 0;
    background-color: rgba(0,0,0,0);
    cursor: pointer;
}

.popup__close:hover {
    opacity: 0.6;
}

@media screen and (max-width: 600px) {
    .popup__close {
        width: 26px;
        height: 26px;
        right: 0;
        top: -40px;
    }
}