.profile__button-add-place {
    width: 150px;
    height: 50px;
    border: 2px solid #fff;
    margin: 0 0 0 auto;
    border-radius: 2px;
    background-color: transparent;
    cursor: pointer;
}

.profile__button-add-place:hover {
    opacity: 0.6;
}

@media screen and (max-width: 930px) {
    .profile__button-add-place {
        margin: 0 0 0 20px;
    }
}

@media screen and (max-width: 800px) {
    .profile__button-add-place {
        margin: 36px 0 0 0;
    }
}

@media screen and (max-width: 600px) {
    .profile__button-add-place {
        width: 100%;
    }
}