.places {
    padding: 0;
    list-style: none;
    margin: 0 auto;
    max-width: 880px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media screen and (max-width: 930px) {
    .places {
        max-width: 581px;
    }
}

@media screen and (max-width: 600px) {
    .places {
        max-width: 282px;
    }
}